{#
/**
 * @file
 * Disclosure menu theme menu display override.
 *
 * Default variables:
 * - menu_name: The machine name of the menu.
 * - items: A nested list of menu items. Each menu item contains:
 *   - attributes: HTML attributes for the menu item.
 *   - below: The menu item child items.
 *   - title: The menu link title.
 *   - url: The menu link url, instance of \Drupal\Core\Url
 *   - localized_options: Menu link localized options.
 *   - is_expanded: TRUE if the link has visible children within the current
 *     menu tree.
 *   - is_collapsed: TRUE if the link has children within the current menu tree
 *     that are not currently visible.
 *   - in_active_trail: TRUE if the link is in the active trail.
 * Disclosure menu variables:
 * - menu_attributes: additional attributes for the top level menu element
 * - submenu_disclosure_levels: how many menu levels to render with disclosure
 *   buttons
 * - disclosure_button_include_chevron: Whether to use chevron icon for
 *   disclosure button labels
 * - disclosure_button_include_label: Whether to use custom text for disclosure
 *   button labels
 * - disclosure_button_label: submenu disclosure button label
 *   (may contain menu item tokens)
 * - menu_disclosure: Whether to add a disclosure button for the entire menu
 * - menu_disclosure_button_include_label: Whether to use custom text for full
 *   menu disclosure button label
 * - menu_disclosure_button_label: full menu disclosure button label
 * - id: the unique HTML ID of the root menu
 */
#}
{% import _self as menus %}

{#
  We call a macro which calls itself to render the full tree.
  @see https://twig.symfony.com/doc/1.x/tags/macro.html

  Macros cannot access template variables so we pass _context as a parameter.
#}

{% set toggle_svg %}
  {% if disclosure_button_include_chevron %}
    <svg
      aria-hidden="true"
      class="menu__submenu-toggle-icon"
      width="13"
      height="9"
      viewBox="0 0 13 9"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path fill-rule="evenodd" clip-rule="evenodd" d="M0.851472 0.865305C1.3201
       0.378232 2.0799 0.378232 2.54853 0.865305L6.5 4.9723L10.4515
       0.865305C10.9201 0.378232 11.6799 0.378232 12.1485 0.865305C12.6172
       1.35238 12.6172 2.14208 12.1485 2.62915L6.5 8.5L0.851472 2.62915C0.382843
       2.14208 0.382843 1.35238 0.851472 0.865305Z" fill="#2A2C3B"/>
    </svg>
  {% endif %}
{% endset %}

{% set attributes = attributes
    .merge(create_attribute(menu_attributes))
    .setAttribute('id', id)
%}

{% if menu_disclosure %}
  {% set attributes = attributes.addClass('hide').setAttribute('tabindex', '-1') %}

  <button type="button"
    class="menu-toggle"
    aria-expanded="false"
    aria-label="Open menu"
    aria-controls="{{ id }}"
    aria-haspopup="menu"
    id="{{ id }}-toggle"
  >
    {% if menu_disclosure_button_include_label %}
      <span>{{ menu_disclosure_button_label|token_replace() }}</span>
    {% endif %}
  </button>
{% endif %}

{{ menus.menu(items, attributes, 0, _context) }}

{% macro menu(items, attributes, menu_level, global_context) %}
  {% import _self as menus %}
  {% set root = menu_level == 0 %}
  {% set use_disclosure = global_context.submenu_disclosure_levels < 0
      or menu_level < global_context.submenu_disclosure_levels
  %}
  {% if items %}
    <ul
      {{ attributes.addClass([
        root ? 'menu' : 'menu__submenu'
      ])}}
      style={{ attributes.hasClass('hide') ? 'display:none' : '' }}
    >
      {% for key, item in items %}
        {% set classes = [
          root ? 'menu__item' : 'menu__submenu-item',
          "menu__item--level-#{menu_level + 1}",
          item.in_active_trail ? 'menu__item--active-trail',
          item.below ? 'menu__item--has-submenu',
        ] %}
        {% set submenuID =
          'submenu_' ~ global_context.id ~ '_' ~ key|replace({':': '-'})
        %}
        {% set itemAttributes = item.below
          ? item.attributes.setAttribute('data-submenu-id', submenuID)
          : item.attributes
        %}
        <li {{ itemAttributes.addClass(classes) }}>
          <div class="menu__item-container">
            {% set linkClass = root ? 'menu__item-link' : 'menu__submenu-item-link'%}
            {{ link(item.title, item.url, {'class': linkClass}) }}
            {% if item.below and use_disclosure %}
              <button type="button"
                class="menu__submenu-toggle"
                aria-expanded="false"
                aria-controls="{{ submenuID }}"
              >
                {{ global_context.toggle_svg }}
                {% if global_context.disclosure_button_include_label == 1 %}
                  <span>
                    {{ global_context.disclosure_button_label|token_replace(
                        {'menu-link': item['original_link'] }
                    )}}
                  </span>
                {% else %}
                  <span class="visually-hidden">
                    More "{{item.title}}" pages
                  </span>
                {% endif %}
              </button>
            {% endif %}
          </div>
          {% if item.below %}
            {% set menuAttributes = use_disclosure
                ? create_attribute()
                  .setAttribute('id', submenuID)
                  .addClass('hide', 'menu__submenu--disclosure')
                : create_attribute()
            %}
            <div class="menu__submenu-container">
              {{
                menus.menu(
                  item.below,
                  menuAttributes,
                  menu_level + 1,
                  global_context
                )
              }}
            </div>
          {% endif %}
        </li>
      {% endfor %}
    </ul>
  {% endif %}
{% endmacro %}
