ul.menu[id^="disclosure-menu"].horizontal {
  display: flex;
  flex-direction: row;
  gap: 1em;
  align-items: center;
}

[id^="disclosure-menu"].horizontal .menu__item-container {
  display: flex;
  width: fit-content;
  align-items: center;
}

[id^="disclosure-menu"].horizontal li.menu__item,
[id^="disclosure-menu"].horizontal li.menu__submenu-item {
  position: relative;
}

[id^="disclosure-menu"].horizontal .menu__submenu-container {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1;
  min-width: 100%;
  background-color: #ffffff;
  box-shadow: 0px 2px 6px rgba(25 26 35 / 20%);
  border-radius: 0.125rem;
}

[id^="disclosure-menu"].horizontal .menu__submenu-item {
  padding: 0.25em;
}

[id^="disclosure-menu"].horizontal
  .menu__submenu-container
  .menu__submenu-container {
  left: 100%;
  top: 0;
}

[id^="disclosure-menu"].horizontal
  .menu__submenu-container
  .menu__submenu-container
  .menu__submenu {
  border-inline-start: 1px solid;
}

[id^="disclosure-menu"].horizontal
  .menu__submenu-container
  .menu__submenu-toggle[aria-expanded="true"]
  svg {
  transform: rotate(-90deg);
}
