{#
/**
 * @file
 * Default theme implementation to embed a soundcloud url.
 *
 * Available variables:
 * - width: The width of the iframe.
 * - height: The height of the iframe.
 * - type: The type of embed: visual or classic.
 *
 * @see template_preprocess_media_soundcloud_embed()
 *
 * @ingroup themeable
 */
#}
<iframe width="{{ width }}" height="{{ height }}" scrolling="no" frameborder="no" src="{{ url }}" title="{{ title }}"></iframe>
