/** Hide caption and alignment options for audio, video, and files in CKEditor media embed dialog  */
form[action="/entity-embed/dialog/full_html/embed_video"] .fieldgroup,
form[action="/entity-embed/dialog/full_html/embed_audio"] .fieldgroup,
form[action="/entity-embed/dialog/full_html/embed_file"] .fieldgroup,
form[action="/entity-embed/dialog/full_html/embed_video"] .form-item-attributes-data-caption,
form[action="/entity-embed/dialog/full_html/embed_audio"] .form-item-attributes-data-caption,
form[action="/entity-embed/dialog/full_html/embed_file"] .form-item-attributes-data-caption {
  display: none;
}

/** fix repeating down arrow in link dialog **/
select.cke_dialog_ui_input_select {
  line-height: normal !important;
}
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  select:focus, select:hover {
    background-repeat: no-repeat;
    background-position: right 5px;
  }
}

/** show Hidden Text option in cke style menu - needs work **/
.cke_combo__styles a .element-invisible {
  position: relative !important;
}
